.newspaper {
  background-color: antiquewhite;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url(images/pink-pattern.png);
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}

body {
  background-image: url(images/livro-e-lupa-do-vintage-na-mesa-de-madeira-96710754.jpg);
  background-size: cover;
  background-position-y: 25%;
  margin: 0;
}

header {
  background-color: black;
  color: white;
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin-bottom: 20px;
  opacity: 70%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p span {
  margin: 5px;
  max-height: 40px;
}

.carta-gerada {
  display: flex;
  flex-wrap: wrap;
  line-break: 0;
  background-image: url(images/folha.png);
  background-size: cover;
  width: 60vmax;
  min-height: 10vmax;
  padding: 30px;
}

.contador {
  align-items: center;
  background-color: white;
  border-radius: 25px;
  display: flex;
  font-size: 17px;
  padding: 10px;
}

.carta-contador {
  margin: 5px;
}
